<?php
/**
 * CheckoutApi
 * PHP version 7.3
 *
 * @category Class
 * @package  Stan
 * @author   Brightweb
 * @link     https://stan-business.fr
 */

/**
 * Stan API
 *
 * Stan Client API
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 5.4.0
 */

namespace Stan\Api;

use Stan\ApiException;
use Stan\Configuration;
use Stan\HeaderSelector;
use Stan\ObjectSerializer;

/**
 * CheckoutApi Class Doc Comment
 *
 * @category Class
 * @package  Stan
 * @author   Brightweb
 * @link     https://stan-business.fr
 */
class CheckoutApi
{
    /**
     * Operation updateApiSettings
     *
     * Updates API settings
     *
     * @param  \Stan\Model\ChechkoutRequestBody $checkout_request_body checkout_request_body
     *
     * @throws \Stan\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return void
     */
    public function create($checkout_request_body)
    {
        $content = $this->client
            ->sendRequest('POST', '/v1/checkouts', null, $checkout_request_body);
        return ObjectSerializer::deserialize($content, '\Stan\Model\Checkout', []);
    }
}
