<?php
/**
 * ConnectApi
 * PHP version 7.3
 *
 * @category Class
 * @package  Stan
 * @author Brightweb
 * @link https://stan-business.fr
 */

/**
 * Stan API
 *
 * Stan Client API
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://openapi-generator.tech
 * OpenAPI Generator version: 5.4.0
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Stan\Api;

use Stan\ApiException;
use Stan\Configuration;
use Stan\HeaderSelector;
use Stan\ObjectSerializer;

/**
 * ConnectApi Class Doc Comment
 *
 * @category Class
 * @package  Stan
 * @author Brightweb
 * @link https://stan-business.fr
 */
class ConnectApi extends StanResource
{

    /**
     * Operation createConnectAccessToken
     *
     * Create an access token to request user&#39;s infos
     *
     * @param  \Stan\Model\ConnectAccessTokenRequestBody $connect_access_token_request_body connect_access_token_request_body
     *
     * @throws \Stan\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Stan\Model\ConnectAccessToken
     */
    public function createConnectAccessToken($connect_access_token_request_body)
    {
        $content = $this->client
            ->sendRequest('POST', '/v1/oauth/token', null, $connect_access_token_request_body);
        return ObjectSerializer::deserialize($content, '\Stan\Model\ConnectAccessToken', []);
    }
}
